.home_container{
    max-width: 1440px;
    padding-left: 1%;
    padding-right: 110px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-image: url(./assets/backgroundImg.svg);
}