.Register_form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.form_container{
    display: flex;
    justify-content: spa;
}
.form_box {
    padding: 55px 70px;
    background-color: rgba(66, 66, 66, 1);
    border: 1px solid #9c27b0;
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}
