.Register_form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.form_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 160px;
}
.form_box {
    padding: 55px 70px;
    background-color: rgba(66, 66, 66, 1);
    border: 1px solid #9c27b0;
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}
.form_box > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #e1bee7;
    margin-bottom: 48px;
}

.signin_button_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

.signin_button_box > button {
    padding: 9px 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-right: 22px;
}

.signin_button_facebook {
    background: #5856d6;
}
.signin_button_github {
    background: #2e2f2e;
}

.signin_button_google {
    background: #f44336;
    margin-right: 0 !important;
}

.signin_button_box > button > svg {
    margin-right: 7px;
}

.signin_or_email > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.54);
    margin-bottom: 46px;
    position: relative;
}

.signin_or_email > p::after {
    content: '';
    display: block;
    width: 30%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.54);
    margin-top: -10px;
}

.signin_or_email > p::before {
    content: '';
    display: block;
    width: 30%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.54);
    position: absolute;
    right: 0;
    top: 10px;
}
.form_box > form input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.54);
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
    padding: 14px;
    transform: all esae-in-out 0.3s;
    outline: none;
    border: 1px solid transparent;
}

.form_box > form > input {
    width: 100%;
}

.input_box > input {
    width: calc(50% - 7px);
}
.input_box > input:last-child {
    margin-left: 14px;
}

.form_box > form input:focus {
    border-bottom-color: rgba(255, 160, 0, 1);
}
.checkBox{
    max-width: 330px;
}
.checkBox > input {
    margin-right: 13px;
}
.checkBox > label {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.contine_button {
    background: #9c27b0;
    border-radius: 6px;
    padding: 11px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
    width: 160px;
    margin-left: 50px;
}

.finished_box{
    display: flex;
    justify-content: space-between;
}

.form_content>h3{
    font-weight: 700;
font-size: 36px;
line-height: 38px;
/* or 106% */

text-align: center;

color: #E1BEE7;

}