.nav_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_box,
.nav_box ul {
    display: flex;
    align-items: center;
}

.nav_box > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
    margin-right: 40px;
    padding: 23px 0;
}

.nav_box ul a {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin-left: 50px;
    transition: all ease-in-out 0.3s;
}

.nav_box ul a:hover {
    color: #e1bee7;
}

.sign_box > button {
    padding: 11px 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    color: white;
}

.login_button {
    background-color: transparent;
}

.register_button {
    background-color: #ffa000;
    margin-left: 30px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer_icon {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: white;
    margin-bottom: 23px;
}

.footer_content>p,
.footer_content>span {
    font-weight: 400;
font-size: 18px;
line-height: 24px;
width: 300px;
}

.footer_content>p{
    margin-bottom: 37px;
}

.footer_list_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}