.hero {
    margin-top: 55px;
    width: 100%;
    color: white;
    margin-bottom: 120px;
}
.hero_top_content {
    display: flex;
    justify-content: space-between;
}
.hero_content {
    max-width: 680px;
}
.hero_content > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 20px;
}
.hero_content > p {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
}
.hero_button_box > button {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid transparent;
}
.button_started {
    margin-right: 16px;
    color: white;
    background-color: #9c27b0;
}

.button_view {
    color: #e1bee7;
    background-color: transparent;
    border-color: #e1bee7 !important;
}

.hero_img > img {
    position: relative;
    right: -110px;
}
.HeroPagination{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 85px;
}
.hero_pagination_item > h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}
.hero_pagination_item > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}
.hero_pagination_item{
    border-left: 1px solid rgba(255, 255, 255, 0.12);
}
.HeroPagination>.hero_pagination_item:first-child{
    color: #ff6f00;
    bor
}

.HeroPagination>.hero_pagination_item:first-child>p{
color: #E1BEE7;
}